@import url(/assets/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Jura|Saira);

$opse-red: #D7282F;
$opse-blue: #101820;
$white: #F0F0F0;

body {
    background-color: #00000000;
    padding: 0;
    margin: 0;
}

.unselectable { user-select: none; }

.body {
    background: $opse-blue;
    color: $white;
    font-family: Saira, sans-serif;
    height: 100%; width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.titlebar {
    position: fixed;
    top: 0; left: 0;
    height: 40px; width: 100%;
    display: flex;

    div {float: left;}

    .icon {
        height: 40px; width: 60px;
        background-image: url('/assets/logos/icon.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 60%;
    }

    .title {
        height: 40px; width: 100%;
        -webkit-app-region: drag;
        user-select: none;
        font-weight: 900;
        padding: 7px 0px;
    }

    .actions {
        height: 40px; width: 40px;
        padding: 0px;

        .action {
            padding: 10px;
            padding-right: 0px;
            transform: scale(1.2);
            cursor: pointer;

            &.close-icon:hover { color: $opse-red; }
        }
    }
}

.app-body {
    position: fixed;
    top: 40px; left: 0;
    height: calc(100% - 40px); width: 100%;
    overflow: hidden;
    border-radius: 0 0 10px 10px;
    border: 1px solid $opse-blue;

    .sidebar {
        position: absolute;
        width: 200px; height: 100%;
        top: 10px;

        .link {
            width: calc(100% - 10px);
            margin: 10px;
            padding: 5px 10px;
            border-radius: 10px 0 0 10px;
            cursor: pointer;

            &.active {
                position: relative;
                background: $white;
                color: $opse-blue;
                font-weight: 900;

                &::after {
                    content: " ";
                    position: absolute;
                    background-color: $opse-blue;
                    width: 50px; height: 10px;
                    top: 34px; left: 140px;
                    border-top-right-radius: 10px;
                    box-shadow: 10px 0px 0px 0px $white;
                }

                &::before {
                    content: " ";
                    position: absolute;
                    background-color: $opse-blue;
                    width: 50px; height: 10px;
                    top: -10px; left: 140px;
                    border-bottom-right-radius: 10px;
                    box-shadow: 10px 0px 0px 0px $white;
                }
            }

            &:hover:not(.active) {
                background-color: $opse-red;
            }
        }
    }

    .content {
        position: absolute;
        background: $white;
        border-radius: 10px 0 10px 0;
        width: calc(100% - 200px); height: 100%;
        color: $opse-blue;
        left: 200px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}