extends _overlay_layout

append main
    .component.fill.b-x.brs-tr(style="top: 10%; left: 20%;")
        p#test TEST


append scripts
    script.
        // register overlay
        register(location.href.split("/")[4]);

        // listening for events
        listen('test', data => {
            $('#test').html(data);
        });