html
    head
        style !{style}

    body
        block main

        block scripts
            script(src="https://code.jquery.com/jquery-3.5.1.min.js")
            script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js")
            script(src="/socket.io/socket.io.js")
            script.
                let socket = io();

                // Register an overlay to start listening to the server.
                socket.emit('register-overlay', location.href.split("/")[4]);

                /**
                 * Listen for an event from the server
                 * @param {string} evtName The name of the event listening for.
                 * @param {function} callback The call back funtion to handel the event.
                 */
                function listen(evtName, callback) { socket.on(evtName, callback) }
