extends _controller_layout

append main
    h1 General Settings

    .card
        .card-header
            ul.nav.nav-tabs.card-header-tabs
                li.nav-item
                    a(href="#general-urls" data-toggle="tab").nav-link.active General URLs

                li.nav-item
                    a(href="#games-today" data-toggle="tab").nav-link Games Today

                li.nav-item
                    a(href="#caster-frames" data-toggle="tab").nav-link Caster Frames


        .card-body
            .tab-content
                #general-urls.tab-pane.fade.show.active
                    .input-group.mb-3
                        .input-group-prepend
                            span.input-group-text.bg-light Games Today:
                        input.bg-white(type="text" value="http://localhost:5000/overlay/games-today" readonly="" onClick="copyLinkToClipboard(this)").form-control

                    .input-group
                        .input-group-prepend
                            span.input-group-text.bg-light Caster Frames:
                        input.bg-white(type="text" value="http://localhost:5000/overlay/caster-frames" readonly="" onClick="copyLinkToClipboard(this)").form-control

                #games-today.tab-pane.fade
                    h3 Games Today
                        button.btn.btn-outline-secondary.ml-3(type="button") Load from Database

                #caster-frames.tab-pane.fade
                    h3 Caster Frames



append scripts
    script.
        
