extends _controller_layout

append main
    h1.mb-3 Lower Third

    .card
        .card-body.bg-light
            .form-floating.mb-3
                input#lt-content.form-control(type="text" placeholder="Content")
                label(for="lt-content") Content

            .row
                lable.col-form-label.col-2.fw-bold(for="top-margin") Position from top:

                .col
                    input#top-margin.form-range(type="range" value="75" style="margin-top: 12px")
                
                .col-1
                    input#top-margin-disp.form-control(type="text" placeholder="Value" value="75%")

                .col-2
                    .btn-group.w-100
                        button.btn.btn-outline-success(type="button" onclick="visibility(1)") Show
                        button.btn.btn-outline-danger(type="button" onclick="visibility(0)") Hide

                .col-2
                    button.btn.btn-outline-dark.w-100(type="button" onclick="update()") UPDATE


append scripts
    script.
        let OVERLAY_ID = location.href.split("/")[4];

        $(function() {
            $('#top-margin').on('input', () => {
                $('#top-margin-disp').val(`${$('#top-margin').val()}%`);
                update();
            });

            $('#top-margin-disp').keyup(() => {
                let this_val = $('#top-margin-disp').val().replace(new RegExp("%" + '$'), '');
                $('#top-margin').val(this_val);
            });
        });

        function visibility(n) { $.post(`/overlay/${OVERLAY_ID}/visibility`, {value: n}) }

        function update() {
            $.post(`/overlay/${OVERLAY_ID}/update`, {
                text: $('#lt-content').val(),
                top: `${$('#top-margin').val()}%`
            });
        }