extends _overlay_layout

append main
    #main-container.component.main(style="top: 75%;")
        .logo
        #text-container.content


append scripts
    script.
        listen('visibility', data => {
            if (data == 0) {
                document.getElementById("text-container").style.width = "0px";
                document.getElementById("text-container").style.paddingLeft = "0px";

                setTimeout(() => {
                    document.getElementById("main-container").style.transform = "translate(-50%, -50%) scale(0)";
                }, 300);
            }
            else {
                document.getElementById("main-container").style.transform = "translate(-50%, -50%) scale(1)";

                setTimeout(() => {
                    document.getElementById("text-container").style.width = "100%";
                    document.getElementById("text-container").style.paddingLeft = "20px";
                }, 100);
            }
        });

        listen('update', data => {
            $('#text-container').html(data.text);
            document.getElementById("main-container").style.top = data.top;
        });