extends _overlay_layout

append main
    .component.fill.b-x.brs-tr(style="top: 10%; left: 20%;")
        p#test TEST


append scripts
    script.
        // listening for events
        listen('test', data => {
            $('#test').html(data);
        });