extends _controller_layout

append main
    h1 Test
    button(onclick="postTest()") TEST
    
append scripts
    script.
        let OVERLAY_ID = location.href.split("/")[4];
    
        function postTest() {
            $.post(`/overlay/${OVERLAY_ID}/test`);
        }
