html
    head
        style !{style}

    body
        include _mixins
        block main

        block scripts
            script(src="https://code.jquery.com/jquery-3.5.1.min.js")
            script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js")
            script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js")
            script(src="/socket.io/socket.io.js")
            script.
                let socket = io();
