@import url(https://fonts.googleapis.com/css?family=Jura|Saira);

$opse-red: #D7282F;
$opse-blue: #101820;

$white: #F0F0F0;
$border-width: 10px;
$border-radius: 30px;

* { scroll-behavior: smooth; }

body {
    font-family: sans-serif;
    overflow: hidden;
}

.font-jura { font-family: Jura, sans-serif; }
.font-saira { font-family: Saira, sans-serif; }

.component {
    position: fixed;
    border-width: 0px;
    border-style: ridge;
    border-color: #ffffff;

    &.inner-shadow { box-shadow: inset 0px 0px 25px 0px #000000; }

    &.b { border-width: $border-width; }
    &.b-x { border-width: 0px $border-width 0px $border-width; }
    &.b-y { border-width: $border-width 0px $border-width 0px; }
    &.b-t { border-width: $border-width 0px 0px 0px; }
    &.b-r { border-width: 0px $border-width 0px 0px; }
    &.b-b { border-width: 0px 0px $border-width 0px; }
    &.b-l { border-width: 0px 0px 0px $border-width; }

    &.br { border-radius: $border-radius; }
    &.br-tl { border-radius: $border-radius 0px 0px 0px; }
    &.br-tr { border-radius: 0px $border-radius 0px 0px; }
    &.br-br { border-radius: 0px 0px $border-radius 0px; }
    &.br-bl { border-radius: 0px 0px 0px $border-radius; }

    &.brs { border-radius: $border-width; }
    &.brs-tl { border-radius: $border-width 0px 0px 0px; }
    &.brs-tr { border-radius: 0px $border-width 0px 0px; }
    &.brs-br { border-radius: 0px 0px $border-width 0px; }
    &.brs-bl { border-radius: 0px 0px 0px $border-width; }


    &.fill {
        background-color: $opse-blue;
        color: $white;
    }
}