@import url(https://fonts.googleapis.com/css?family=Saira);

$opse-red: #D7282F;
$opse-blue: #101820;

$white: #F0F0F0;
$LightOrange: #E69F66;

body {
    padding: 0;
    margin: 0;
}

.unselectable { user-select: none; }

.body {
    background: $opse-blue;
    color: $white;
    font-family: Saira, sans-serif;
    height: 100%; width: 100%;
    text-transform: uppercase;
    border-radius: 10px;
    overflow: hidden;
}

.titlebar {
    position: fixed;
    top: 0; left: 0;
    height: 40px; width: 100%;
    display: flex;

    div {float: left;}

    .icon {
        height: 40px; width: 60px;
        background-image: url('/assets/logos/icon.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 60%;
    }

    .title {
        height: 40px; width: 100%;
        -webkit-app-region: drag;
        user-select: none;
        font-weight: 900;
        padding: 7px 0px;
    }

    .actions {
        height: 40px; width: 40px;
        padding: 0px;

        .action {
            padding: 10px;
            padding-right: 0px;
            transform: scale(1.2);
            cursor: pointer;

            &.close:hover { color: $opse-red; }
        }
    }
}

.app-body {
    position: fixed;
    top: 40px; left: 0;
    height: calc(100% - 40px); width: 100%;
}

.container {
    position: absolute;
    top: 45%; left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    .ip {
        background: $opse-red;
        padding: 20px 40px 15px;
        border-radius: 10px;
        letter-spacing: 2px;
    }

    .local-btn {
        background: $opse-blue;
        color: $white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}